/* 
DayPilot Calendar Theme 
https://themes.daypilot.org/calendar/theme/bgbqw5
Theme Designer Version: 2025.12.31.41986
*/
.calendar_green_main:not(.default) {
	--dp-calendar-border-color: #c0c0c0;
	--dp-calendar-font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	--dp-calendar-font-size: 13px;
	--dp-calendar-header-bg-color: #274C9C;
	--dp-calendar-header-color: #ffffff;
	--dp-calendar-colheader-padding: 2px;
	--dp-calendar-colheader-vertical-align: center;
	--dp-calendar-colheader-horizontal-align: center;
	--dp-calendar-rowheader-padding: 2px;
	--dp-calendar-cell-bg-color: #f9f9f9;
	--dp-calendar-cell-business-bg-color: #ffffff;
	--dp-calendar-cell-border-color: #eeeeee;
	--dp-calendar-allday-event-color: #ffffff;
	--dp-calendar-allday-event-border-color: #578047;
	--dp-calendar-allday-event-border: 1px solid var(--dp-calendar-allday-event-border-color);
	--dp-calendar-allday-event-border-radius: 5px;
	--dp-calendar-allday-event-padding: 4px;
	--dp-calendar-allday-event-horizontal-align: flex-start;
	--dp-calendar-event-color: #ffffff;
	--dp-calendar-event-border-color: #578047;
	--dp-calendar-event-border-radius: 5px;
	--dp-calendar-event-bar-bg-color: #45613a;
	--dp-calendar-event-bar-color: #45613a;
	--dp-calendar-event-bar-width: 6px;
	--dp-calendar-event-bar-left: 0px;
	--dp-calendar-event-bar-bottom: 0px;
	--dp-calendar-event-bar-top: 0px;
	--dp-calendar-event-bar-display: block;
	--dp-calendar-event-padding: 2px;
	--dp-calendar-event-padding-left: 8px;
	--dp-calendar-message-bg-color: #ffa216;
	--dp-calendar-message-color: #ffffff;
	--dp-calendar-message-padding: 10px;
	--dp-calendar-event-bg-top-color: #578047;
	--dp-calendar-event-bg-bottom-color: #578047;
	--dp-calendar-event-background-hover: #48693b;
	--dp-calendar-allday-event-bg-top-color: #578047;
	--dp-calendar-allday-event-bg-bottom-color: #578047;
	--dp-calendar-allday-event-background-hover: #48693b;
}
.calendar_green_main {
	--dp-calendar-border-color: #c0c0c0;
	--dp-calendar-font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	--dp-calendar-font-size: 13px;
	--dp-calendar-header-bg-color: #f3f3f3;
	--dp-calendar-header-color: #333;
	--dp-calendar-colheader-padding: 0px;
	--dp-calendar-rowheader-font-size: 16pt;
	--dp-calendar-rowheader-padding: 3px;
	--dp-calendar-cell-bg-color: #f9f9f9;
	--dp-calendar-cell-business-bg-color: #ffffff;
	--dp-calendar-cell-border-color: #ddd;
	--dp-calendar-colheader-horizontal-align: center;
	--dp-calendar-colheader-vertical-align: center;
	--dp-calendar-allday-event-color: #333;
	--dp-calendar-allday-event-border-color: #999;
	--dp-calendar-allday-event-border: 1px solid var(--dp-calendar-allday-event-border-color);
	--dp-calendar-allday-event-border-radius: 4px;
	--dp-calendar-allday-event-background: linear-gradient(to bottom, var(--dp-calendar-allday-event-bg-top-color) 0%, var(--dp-calendar-allday-event-bg-bottom-color) 100%);
	--dp-calendar-allday-event-bg-top-color: #ffffff;
	--dp-calendar-allday-event-bg-bottom-color: #eeeeee;
	--dp-calendar-allday-event-background-hover: linear-gradient(to bottom, var(--dp-calendar-allday-event-bg-top-color-hover) 0%, var(--dp-calendar-allday-event-bg-bottom-color-hover) 100%);
	--dp-calendar-allday-event-bg-top-color-hover: #f8f8f8;
	--dp-calendar-allday-event-bg-bottom-color-hover: #e8e8e8;
	--dp-calendar-allday-event-box-shadow: none;
	--dp-calendar-allday-event-padding: 4px;
	--dp-calendar-allday-event-horizontal-align: flex-start;
	--dp-calendar-event-color: #333;
	--dp-calendar-event-border-color: #999;
	--dp-calendar-event-border: 1px solid var(--dp-calendar-event-border-color);
	--dp-calendar-event-border-radius: 4px;
	--dp-calendar-event-box-shadow: none;
	--dp-calendar-event-background: linear-gradient(to bottom, var(--dp-calendar-event-bg-top-color) 0%, var(--dp-calendar-event-bg-bottom-color) 100%);
	--dp-calendar-event-bg-top-color: #ffffff;
	--dp-calendar-event-bg-bottom-color: #eeeeee;
	--dp-calendar-event-background-hover: linear-gradient(to bottom, var(--dp-calendar-event-bg-top-color-hover) 0%, var(--dp-calendar-event-bg-bottom-color-hover) 100%);
	--dp-calendar-event-bg-top-color-hover: #f8f8f8;
	--dp-calendar-event-bg-bottom-color-hover: #f1f1f1;
	--dp-calendar-event-bar-bg-color: #45613a;
	--dp-calendar-event-bar-color: #45613a;
	--dp-calendar-event-bar-width: 6px;
	--dp-calendar-event-bar-left: 0px;
	--dp-calendar-event-bar-bottom: 0px;
	--dp-calendar-event-bar-top: 0px;
	--dp-calendar-event-bar-display: block;
	--dp-calendar-event-padding: 2px;
	--dp-calendar-event-padding-left: 8px;
	--dp-calendar-message-bg-color: #ffa216;
	--dp-calendar-message-color: #ffffff;
	--dp-calendar-message-padding: 10px;
	--dp-calendar-message-opacity: 0.9;
	--dp-calendar-selected-event-bg-color: #ddd;
	--dp-calendar-shadow-color: #bbbbbb;
	--dp-calendar-shadow-border-color: #888888;
	--dp-calendar-forbidden-shadow-border-color: #cc0000;
	--dp-calendar-forbidden-shadow-bg-color: #cc4125;
	--dp-calendar-now-indicator-color: red;
	--dp-calendar-scroll-bg-color: #f3f3f3;
}
.calendar_green_main *, .calendar_green_main *:before, .calendar_green_main *:after {
	box-sizing: content-box;
}
.calendar_green_main {
	border:1px solid var(--dp-calendar-border-color);
	font-family:var(--dp-calendar-font-family);
	font-size:var(--dp-calendar-font-size);
}
.calendar_green_rowheader_inner, .calendar_green_cornerright_inner, .calendar_green_corner_inner, .calendar_green_colheader_inner, .calendar_green_alldayheader_inner {
	color: var(--dp-calendar-header-color);
	background: var(--dp-calendar-header-bg-color);
}
.calendar_green_colheader_back {
	background: var(--dp-calendar-header-bg-color);
	border-bottom: 1px solid red;
}
.calendar_green_colheader_back_inner {
	position: absolute;
	inset: 0;
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.calendar_green_cornerright_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.calendar_green_direction_rtl .calendar_green_cornerright_inner {
	border-right: 1px solid var(--dp-calendar-border-color);
}
.calendar_green_rowheader_inner {
	font-size: var(--dp-calendar-rowheader-font-size);
	text-align: right;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
	padding: var(--dp-calendar-rowheader-padding);
}
.calendar_green_rowheader_simple .calendar_green_rowheader_inner {
	font-size: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}
.calendar_green_direction_rtl .calendar_green_rowheader_inner {
	border-right: none;
}
.calendar_green_corner_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.calendar_green_direction_rtl .calendar_green_corner_inner {
	border-right: none;
}
.calendar_green_rowheader_minutes {
	font-size: 10px;
	vertical-align: super;
	padding-left: 2px;
	padding-right: 2px;
}
.calendar_green_colheader_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: var(--dp-calendar-colheader-padding);
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
	display: flex;
	align-items: var(--dp-calendar-colheader-vertical-align);
	justify-content: var(--dp-calendar-colheader-horizontal-align);
}
.calendar_green_cell_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-cell-border-color);
	border-bottom: 1px solid var(--dp-calendar-cell-border-color);
	background: var(--dp-calendar-cell-bg-color);
}
.calendar_green_cell_business .calendar_green_cell_inner {
	background: var(--dp-calendar-cell-business-bg-color);
}
.calendar_green_alldayheader_inner {
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.calendar_green_message {
	opacity: var(--dp-calendar-message-opacity);
	padding: var(--dp-calendar-message-padding);
	color: var(--dp-calendar-message-color);
	background: var(--dp-calendar-message-bg-color);
}
.calendar_green_event_inner {
	border: var(--dp-calendar-event-border);
	border-radius: var(--dp-calendar-event-border-radius);
	background: var(--dp-calendar-event-background);
}
.calendar_green_event:hover .calendar_green_event_inner {
	background: var(--dp-calendar-event-background-hover);
}
.calendar_green_alldayevent {
	color: var(--dp-calendar-allday-event-color);
	box-shadow: var(--dp-calendar-allday-event-box-shadow);
	border-radius: var(--dp-calendar-allday-event-border-radius);
}
.calendar_green_alldayevent_inner {
	border: var(--dp-calendar-allday-event-border);
	border-radius: var(--dp-calendar-allday-event-border-radius);
	background: var(--dp-calendar-allday-event-background);
}
.calendar_green_alldayevent:hover .calendar_green_alldayevent_inner {
	background: var(--dp-calendar-allday-event-background-hover);
}
.calendar_green_event_bar {
	display: var(--dp-calendar-event-bar-display);
	top: var(--dp-calendar-event-bar-top);
	bottom: var(--dp-calendar-event-bar-bottom);
	left: var(--dp-calendar-event-bar-left);
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-bg-color);

}
.calendar_green_direction_rtl .calendar_green_event_bar {
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-bg-color);
}
.calendar_green_event_bar_inner {
	position: absolute;
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-color);
}
.calendar_green_selected .calendar_green_event_inner, .calendar_green_event:hover.calendar_green_selected .calendar_green_event_inner {
	background: var(--dp-calendar-selected-event-bg-color);
}
.calendar_green_alldayevent_inner {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: var(--dp-calendar-allday-event-padding);
	margin-right: 0px;
	display: flex;
	align-items: center;
	justify-content: var(--dp-calendar-allday-event-horizontal-align);
}
.calendar_green_event_withheader .calendar_green_event_inner {
	padding-top: 15px;
}
.calendar_green_event {
	color: var(--dp-calendar-event-color);
	box-shadow: var(--dp-calendar-event-box-shadow);
	border-radius: var(--dp-calendar-event-border-radius);
	cursor: default;
}
.calendar_green_event_inner {
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: var(--dp-calendar-event-padding) var(--dp-calendar-event-padding) var(--dp-calendar-event-padding) var(--dp-calendar-event-padding-left);
}
.calendar_green_direction_rtl .calendar_green_event_inner {
	padding: 2px 8px 2px 2px;
}
.calendar_green_shadow_inner {
	box-sizing: border-box;
	background-color: var(--dp-calendar-shadow-color);
	border: 1px solid var(--dp-calendar-shadow-border-color);
	opacity: 0.5;
	height: 100%;
}
.calendar_green_shadow {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.calendar_green_shadow_forbidden:after {
	content: '';
	position: absolute;
	top: 5px;
	left: calc(50% - 10px);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27%3E%3Ccircle cx=%2710%27 cy=%2710%27 r=%279%27 fill=%27%23cc0000aa%27 /%3E%3Cline x1=%275%27 y1=%275%27 x2=%2715%27 y2=%2715%27 stroke=%27white%27 stroke-width=%271.5%27/%3E%3Cline x1=%2715%27 y1=%275%27 x2=%275%27 y2=%2715%27 stroke=%27white%27 stroke-width=%271.5%27/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.calendar_green_shadow_forbidden .calendar_green_shadow_inner {
	border: 1px solid var(--dp-calendar-forbidden-shadow-border-color);
	background: var(--dp-calendar-forbidden-shadow-bg-color);
}
.calendar_green_event_delete {
	opacity:0.4;
	cursor:pointer;
	background-color:currentColor;
	-webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nMTInIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTSAwLjUgMC41IEwgMTEuNSAxMS41IE0gMC41IDExLjUgTCAxMS41IDAuNScgc3R5bGU9J2ZpbGw6bm9uZTtzdHJva2U6Y3VycmVudENvbG9yO3N0cm9rZS13aWR0aDozO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbGluZWNhcDpidXR0JyAvPjwvc3ZnPg==);
	-webkit-mask-repeat:no-repeat;
	-webkit-mask-position:center;
	-webkit-mask-size:12px 12px;
	mask-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nMTInIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTSAwLjUgMC41IEwgMTEuNSAxMS41IE0gMC41IDExLjUgTCAxMS41IDAuNScgc3R5bGU9J2ZpbGw6bm9uZTtzdHJva2U6Y3VycmVudENvbG9yO3N0cm9rZS13aWR0aDozO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbGluZWNhcDpidXR0JyAvPjwvc3ZnPg==);
	mask-repeat:no-repeat;
	mask-position:center;
	mask-size:12px 12px;
	background-image:none;
}
.calendar_green_event_delete:hover {
	opacity: 0.7;
}
.calendar_green_scroll_up {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAB3RJTUUH2wESDiYcrhwCiQAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAARnQU1BAACxjwv8YQUAAACcSURBVHjaY2AgF9wWsTW6yGMlhi7OhC7AyMDQzMnBXIpFHAFuCtuaMTP+P8nA8P/b1x//FfW/HHuF1UQmxv+NUP1c3OxMVVhNvCVi683E8H8LXOY/w9+fTH81tF8fv4NiIpBRj+YoZtZ/LDUoJmKYhsVUpv0MDiyMDP96sIYV0FS2/8z9ICaLlOhvS4b/jC//MzC8xBG0vJeF7GQBlK0xdiUzCtsAAAAASUVORK5CYII=);
}
.calendar_green_scroll_down {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALiMAAC4jAXilP3YAAACqSURBVChTY7wpam3L9J+xmQEP+PGPKZZxP4MDi4zI78uMDIwa2NT+Z2DYovrmiC+TI8OBP/8ZmEqwGvif4e8vxr+FIDkmEKH25vBWBgbG0+iK/zEwLtF+ffwOXCGI8Y+BoRFFIdC030x/WmBiYBNhpgLdswNJ8RSYaSgmgk39z1gPUfj/29ef/9rwhQTDHRHbrbdEbLvRFcGthkkAra/9/uMvhkK8piNLAgCRpTnNn4AEmAAAAABJRU5ErkJggg==);
}
.calendar_green_now {
	background-color: var(--dp-calendar-now-indicator-color);
}
.calendar_green_now:before {
	content: '';
	top: -5px;
	border-width: 5px;
	border-color: transparent transparent transparent var(--dp-calendar-now-indicator-color);
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
	-moz-transform: scale(.9999);
}
.calendar_green_shadow_top {
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid var(--dp-calendar-border-color);
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
	pointer-events: none;
}
.calendar_green_shadow_bottom {
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid var(--dp-calendar-border-color);
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
	pointer-events: none;
}
.calendar_green_crosshair_vertical, .calendar_green_crosshair_horizontal, .calendar_green_crosshair_left, .calendar_green_crosshair_top {
	background-color: gray;
	opacity: 0.2;
}
.calendar_green_loading {
	background-color: orange;
	color: white;
	padding: 2px;
}
.calendar_green_scroll {
	background-color: var(--dp-calendar-header-bg-color);
}
.calendar_green_event_moving_source {
	opacity: 0.5;
}
.calendar_green_colmove_handle {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ccc;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC);
	cursor: move;
}
.calendar_green_colheader:hover .calendar_green_colheader_splitter {
	background-color: #c0c0c0;
}
.calendar_green_colmove_source {
	background-color: black;
	opacity: 0.5;
}
.calendar_green_colmove_position_before {
	box-sizing: border-box;
	border-left: 2px solid #999999;
}
.calendar_green_colmove_position_before:before {
	content: '';
	border-width: 6px;
	border-color: transparent #999999 transparent transparent;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.calendar_green_colmove_position_after {
	box-sizing: border-box;
	border-right: 2px solid #999999;
}
.calendar_green_colmove_position_after:before {
	content: '';
	border-width: 6px;
	border-color: transparent transparent transparent #999999;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.calendar_green_colmove_position_child {
	box-sizing: border-box;
	border-bottom: 2px solid #999999;
}
.calendar_green_colmove_position_child:before {
	content: '';
	border-width: 6px;
	border-color: #999999 transparent transparent transparent;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.calendar_green_colmove_position_forbidden {
	border-top: 2px solid red;
}
.calendar_green_colheader .calendar_green_colheader_splitter:hover {
	background-color: #999999;
}
.calendar_green_block {
	background-color: #808080;
	opacity: 0.5;
}
