body{
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    background-color: #E6F5F0 !important;
    grid-template-columns: 1fr;
    grid-template-rows: 5.75em 1fr auto;
    min-height: 100vh;
    width: 100vw !important;
}

#header{
    background-color: #7A8A06;
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0 !important;
    position: fixed !important;
    width: 100%;
    z-index: 1030;
}

header{
    max-width: 100% !important;
}

main{
    grid-row: 2/3;
    grid-column: 1/2;
    min-height: 75vh;
}

main div.divvolver{
    bottom: 0 !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 1030 !important;
    pointer-events: none !important;
}

main div.divvolver *{
    pointer-events: auto !important;
}

footer{
    grid-row: 3/4;
    grid-column: 1/2;
}

a{
    text-decoration: none;
}

.bg-verde{
    background-color: #7A8A06 !important;
}

.bg-verde:hover{
    background-color: #90a300 !important;
}

.bg-azul, .bg-blue{
    background-color: #274C9C !important;
}

.bg-azul:hover{
    background-color: #0051ff !important;
}





/*MENÚ NAV*/

nav ul li{
    list-style: none;
    height: min-content;
    vertical-align: middle;
    align-self: center;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 3em;
}

nav{
    background-color: #7A8A06;
    max-width: 101% !important;
}

nav:nth-child(1) ul li:not(:last-child){
    padding: 0 !important;
    margin: 0 !important;
}

nav:nth-child(1) ul li:not(:last-child) a{
    padding: 1.5em 0 !important;
    margin: 0 !important;
}

nav:nth-child(1) ul li:last-child{
    padding: 2em 2em 1.3em 2em !important;
    margin-left: -1em !important;
}

nav:nth-child(1) ul li:last-child a i{
    padding: 1.5em 0 !important;
    margin-top: 1.7em !important;
}

nav:nth-child(1) ul li:nth-child(1){
    margin-left: 1.5em !important;
}

nav:nth-child(1) ul li:nth-child(1) a img{
    margin-top: -0.2em !important;
}

nav ul li:not(:first-child) a:hover{
    background-color: #90a300 !important;
}

nav *{
    color: white !important;
    text-decoration: none !important;
}

nav ul li a img{
    height: 4em;
}





/*MENÚ NAV PERFIL*/

#perfil:hover > ul{
    display: block !important;
    height: max-content !important;
}

#perfil ul li:hover{
    background-color: #90a300 !important;
    color: white !important;
}

#menuordenador ul #perfil ul li a{
    text-decoration: none !important;
    padding: 0.25em 0 !important;
}

#perfil ul li{
    margin: 0 !important;
    width: 100%;
}

#perfil ul li:hover *{
    color: white !important;
}

#perfil ul li *{
    padding: 0.5em !important;
    text-align: center !important;
    margin-left: 0 !important;
}

#perfil ul li a{
    color: black !important;
}





/*MENÚ NAV MÓVIL*/

#menumovillogin ul{
    height: 3em;
    padding-left: 7.5% !important;
}

#menumovil ul li a img, #menumovillogin ul li a img{
    height: 3em;
}

#menumovil ul{
    height: 3em;
    padding-left: -10% !important;
}

#menumovil ul li:nth-child(3), #menumovil ul li:nth-child(4){
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin: 0 !important;
}

#menumovil ul li:nth-child(3):hover, #menumovil ul li:nth-child(3):active,
#menumovil ul li:nth-child(4):hover, #menumovil ul li:nth-child(4):active{
    background-color: #90a300;
}





/*MENÚ NAV ORDENADOR*/

#menuordenador ul li:not(:last-child) a{
    padding: 1.7em !important;
    width: 100% !important;
}

#menuordenador ul li:not(:last-child){
    margin: 0 !important;
    padding: 0 !important;
}

#menuordenador ul li:last-child{
    margin-right: 1em;
}

#menuordenador ul li:not(:first-child) a:hover{
    background-color: #90a300;
}

#menuordenador ul li:last-child:hover{
    background-color: #90a300;
}

.dropdown-menu{
    right: 0;
    background-color: white !important;
    border: 1px solid white !important;
}





/*PÁGINA MENÚ*/

main.menu, div.menu{
    padding-left: 5% !important;
    padding-right: 1% !important;
    justify-content: center !important;
    align-content: center !important;
    vertical-align: middle;
}

main.menu, div.menu, #mainmenu{
    background-color: rgba(0,0,0,0) !important;
}

a.menu, button.menu{
    font-size: 1.5em !important;
    font-weight: bolder;
    padding: 7% 0 !important;
    margin-bottom: 3%;
    background-color: #274C9C;
    border: 1px solid #274C9C !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

a.menu:hover, button.menu:hover{
    background-color: #0051ff !important;
    border: 1px solid #0051ff !important;
}

.menuadministrador{
    padding: 7% 0 !important;
    background-color: #7A8A06;
    border: 1px solid #7A8A06 !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.menuadministrador:hover, .menuadministrador:active{
    background-color: #90a300 !important;
    border: 1px solid #90a300 !important;
}

.text-lightgrey{
    color: lightgrey !important;
}

.bg-lightgrey, .bg-lightgray{
    background-color: lightgrey !important;
}

a.bg-lightgrey, a.bg-lightgray, button.bg-lightgrey, button.bg-lightgray, .volver{
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.volver:hover{
    background-color: rgb(170, 170, 170) !important;
    border: 1px solid rgb(170, 170, 170) !important;
}

a.bg-lightgrey:hover, a.bg-lightgray:hover, button.bg-lightgrey:hover, button.bg-lightgray:hover{
    background-color: rgb(170, 170, 170) !important;
    border: 1px solid rgb(170, 170, 170) !important;
}

a.bg-verde, button.bg-verde{
    border: 1px solid #7A8A06 !important;
}

a.bg-verde:hover, button.bg-verde:hover{
    background-color: #90a300 !important;
    border: 1px solid #90a300 !important;
}

main.menu a.bg-verde, main.menu a.bg-lightgrey{
    font-weight: normal !important;
    font-size: 1.3em !important;
}

a.p-menu{
    padding: 1% 0 !important;
}




/*FORMULARIOS*/

.enviar{
    background-color: #274C9C;
    border: 1px solid #274C9C !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    align-content: center;
}

a.enviar:hover, button.enviar:hover{
    background-color: #0051ff !important;
    border: 1px solid #0051ff !important;
}

input{
    border: 1px solid #274C9C !important;
}

input:not([type="checkbox"]), select, textarea{
    border: 1px solid #274C9C !important;
    border-radius: 10px !important;
}

input:hover, input:active, select:hover, select:active, textarea:hover, textarea:active{
    border: 1px solid #0051ff !important;
    background-color: #e9f0ff;
}





/*ACCESIBILIDAD*/
#accesibilidad{
    top: 44%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #274C9C;
    border-radius: 0 0.5em 0.5em 0;
    border: 1px solid #E6F5F0 !important;
    color: white !important;
    z-index: 1030;
    margin-left: -2.25% !important;
    position: fixed;
}

#accesibilidad button{
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #274C9C;
}

/*Siempre mostrar el primer botón*/
#accesibilidad button:not(:first-child){
    display: none;
}

#accesibilidad:hover button:first-child, #accesibilidad:active button:first-child{
    display: none !important;
}

/*Al pasar el mouse por el contenedor, mostrar los botones*/
#accesibilidad:hover button:not(:first-child), #accesibilidad:active button:not(:first-child){
    display: block !important;
}

#accesibilidad:hover, #accesibilidad:active{
    background-color: #274C9C !important;
    border-radius: 25px;
}

/*Efecto de hover individual*/
#accesibilidad button:hover{
    background-color: #0051ff;
}





/*ESTILOS TABLAS*/
table{
    border: 1px solid #d9efe7 !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

table tbody tr:hover{
    background-color: rgba(0, 81, 255, 0.5) !important;
}

.tabla-cabecera thead{
    background-color: #274C9C;
    color: #ffffff;
}

.tabla-cabecera thead th{
    background-color: #274C9C;
    color: #ffffff;
    border: none;
}

.tabla-cabecera{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.estado{
    font-weight: 500;
    font-size: 0.85em !important;
    padding: 4% 5.75%;
    display: inline-block;
}


.estado.activo{
    background-color: #007E33 !important;
    color: white;
    border: 1px solid #007E33 !important;
}

.estado.inactivo{
    font-weight: 700;
    background-color: #CC0000 !important;
    color: white;
    border: 1px solid #CC0000 !important;
}


/*LOGIN*/

main.login{
    justify-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

form.login{
    border: 1px solid white !important;
    border-radius: 25px !important;
    box-shadow: 3.5px 3.5px 15px 3.5px rgba(0, 0, 0, 0.25);
}


/* USUARIO */
.tabla-cabecera thead{
    background-color: #274C9C;
    color: #ffffff;
}

.tabla-cabecera thead th{
    background-color: #274C9C;
    color: #ffffff;
    border: none;
}

.tabla-cabecera{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.table-striped tr:nth-child(odd){
    background-color: lightgrey !important;
}

.table-striped tr:nth-child(even){
    background-color: white !important;
}

.estado{
    font-weight: 500;
    font-size: 0.85em !important;
    padding: 4% 5.75%;
    display: inline-block;
}

.estado.Comun{
    background-color: #274C9C !important;
    color: white;
    border: 1px solid #274C9C !important;
}

.estado.Administrador{
    font-weight: 700;
    background-color: #B53422 !important;
    color: white;
    border: 1px solid #B53422 !important;
}

.estado.Superadministrador{
    font-weight: 700;
    background-color: #578047 !important;
    color: white;
    border: 1px solid #578047 !important;
}




/*LOGIN*/

main.login{
    justify-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

form.login{
    border: 1px solid white !important;
    border-radius: 25px !important;
    box-shadow: 3.5px 3.5px 15px 3.5px rgba(0, 0, 0, 0.25);
}




/*ESTILOS MIS RESERVAS*/

.reserva-card{
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}

.reserva-body{
    padding: 16px;
}

.reserva-estado{
    height: 15px;
    width: 100%;
}

.estado-verde{
    background: #28a745;
}

.estado-rojo{
    background: #dc3545;
}

.aceptado-rechazado{
    height: 45px;
    border-radius: 0 0 .375rem .375rem;
    background-color: gray;
}

.aceptado{
    background-color: #7a8f00;
}

.rechazado{
    background-color: #ea6b6b;
}

.estado-incidencia-abierta{
    height: 45px;
    border-radius: 0 0 .375rem .375rem;
    background-color: #ea6b6b;
}
.resuelta{
    background-color: #7a8f00;
}
.proceso{
    background-color: #cea141;
}



/* MENU ADMINISTRADOR */
#aside-admin{
    border-color: #2a457e;
    width: 260px;
    border-bottom:#2a457eb6 solid 2px;
    border-right:#2a457eb6 solid 2px;
    border-bottom-right-radius: 10px;
}

#aside-admin ul li a , #adminOffcanvas ul li a{
    color: #2a457e;
    font-weight: 600;
}

#aside-admin ul li a:hover , #adminOffcanvas ul li a:hover{
    color: #0051ff;
    font-weight: 700;
}



.cursor-pointer{
    cursor: pointer !important;
}