nav ul li{
    list-style: none;
    height: min-content;
    vertical-align: middle;
    align-self: center;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 3em;
}

nav{
    background-color: #7A8A06;
}

#menumovil ul{
    height: 3em;
}

#menumovil ul li a img{
    height: 3em;
}

nav *{
    color: white;
    text-decoration: none;
}

nav ul li a img{
    height: 4em;
}

#perfil:hover > ul{
    display: block !important;
}

#perfil ul a li:hover{
    background-color: #7A8A06 !important;
    color: white !important;
}

#perfil ul a{
    text-decoration: none !important;
}

.dropdown-menu{
    right: 0;
    background-color: white !important;
    border: 1px solid white !important;
}

body.menu{
    background-color: #E6F5F0;
}

main.menu{
    margin-top: 12%;
    background-color: #E6F5F0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25%;
    column-gap: 5%;
}

button.menu{
    background-color: #274C9C;
    border: 1px solid color #264C9C;
    border-radius: 25px;
    color: white;
}