body{
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.75em 1fr auto;
    min-height: 100vh;
    width: 100vw !important;
}

header{
    grid-row: 1/2;
    grid-column: 1/2;
    position: fixed;
    width: 100%;
    z-index: 999999999999999999999999;
}

main{
    grid-row: 2/3;
    grid-column: 1/2;
    min-height: 75vh;
}

nav ul li{
    list-style: none;
    height: min-content;
    vertical-align: middle;
    align-self: center;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 3em;
}

nav{
    background-color: #7A8A06;
}

nav:nth-child(1) ul li:not(:last-child) a{
    padding: 1.7em 1.5em !important;
}

nav:nth-child(1) ul li:last-child{
    padding-right: 1.5em !important;
}

nav:nth-child(1) ul li:nth-child(1){
    padding-top: 0.2em !important;
}

nav:nth-child(1) ul li:nth-child(1) a img{
    margin-top: -0.2em !important;
}

nav ul li:not(:first-child) a:hover{
    background-color: #90a300 !important;
}

#menumovillogin ul{
    height: 3em;
    padding-left: 7.5% !important;
}

#menumovil ul{
    height: 3em;
    padding-left: 5% !important;
}

#menumovil ul li a img, #menumovillogin ul li a img{
    height: 3em;
}

nav *{
    color: white !important;
    text-decoration: none !important;
}

#menuordenador ul li:not(:last-child) a{
    padding: 1.7em !important;
    width: 100% !important;
}

#menuordenador ul li:not(:last-child){
    margin: 0 !important;
    padding: 0 !important;
}

#menuordenador ul li:not(:first-child) a:hover{
    background-color: #90a300;
}

#perfil a:hover{
    background-color: #00000000 !important;
    margin-left: 0 !important;
}

nav ul li a img{
    height: 4em;
}

#perfil:hover > ul{
    display: block !important;
    height: max-content !important;
}

#perfil ul a li:hover{
    background-color: #7A8A06 !important;
    color: white !important;
}

#menuordenador ul #perfil ul a li{
    text-decoration: none !important;
    color: black !important;
    padding: 0.25em !important;
}

#menuordenador ul #perfil ul a li:hover{
    color: white !important;
}

#perfil ul *{
    color: black !important;
}

.dropdown-menu{
    right: 0;
    background-color: white !important;
    border: 1px solid white !important;
}

body.menu, body.login{
    background-color: #E6F5F0;
}

main.menu, div.menu{
    padding-left: 5% !important;
    padding-right: 1% !important;
    background-color: #E6F5F0;
    justify-content: center !important;
    align-content: center !important;
    vertical-align: middle;
}

a.menu, button.menu{
    font-size: 1.5em !important;
    font-weight: bolder;
    padding: 7% 0 !important;
    margin-bottom: 3%;
    background-color: #274C9C;
    border: 1px solid #274C9C !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.25);
}

a.menu:hover, button.menu:hover{
    background-color: #0051ff !important;
    border: 1px solid #0051ff !important;
    box-shadow: 7px 7px 7px 0px rgba(0, 81, 255, 0.5);
}

.bg-lightgrey, .bg-lightgray{
    background-color: lightgrey !important;
}

a.bg-lightgrey, a.bg-lightgray, button.bg-lightgrey, button.bg-lightgray, .volver{
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.volver:hover{
    background-color: rgb(170, 170, 170) !important;
    border: 1px solid rgb(170, 170, 170) !important;
}

a.bg-lightgrey:hover, a.bg-lightgray:hover, button.bg-lightgrey:hover, button.bg-lightgray:hover{
    background-color: rgb(170, 170, 170) !important;
    border: 1px solid rgb(170, 170, 170) !important;
    box-shadow: 7px 7px 7px 0px rgba(50, 50, 50, 0.5);
}

.bg-verde{
    background-color: #7A8A06 !important;
}

a.bg-verde, button.bg-verde{
    border: 1px solid #7A8A06 !important;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.25);
}

a.bg-verde:hover, button.bg-verde:hover{
    background-color: #90a300 !important;
    border: 1px solid #90a300 !important;
    box-shadow: 7px 7px 7px 0px rgba(144, 163, 0, 0.5);
}

main.menu a.bg-verde, main.menu a.bg-lightgrey{
    font-weight: normal !important;
    font-size: 1.3em !important;
}

a.p-menu{
    padding: 1% 0 !important;
}

a.enviar, button.enviar{
    background-color: #274C9C;
    border: 1px solid #274C9C !important;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    align-content: center;
}

a.enviar:hover, button.enviar:hover{
    background-color: #0051ff !important;
    border: 1px solid #0051ff !important;
}

input{
    border: 1px solid #274C9C !important;
    border-radius: 10px !important;
}

input:hover, input:active{
    border: 1px solid #0051ff !important;
    background-color: #e9f0ff;
}

footer{
    grid-row: 3/4;
    grid-column: 1/2;
}

.tabla-cabecera thead {
    background-color: #274C9C !important;
    color: #ffffff !important;
}

.tabla-cabecera thead th {
    background-color: #274C9C !important;
    color: #ffffff !important;
    border: none;
}

.tabla-cabecera {
    width: 100%;
    background-color: var(white);
    border-radius: 15px;
    overflow: hidden;
}

.estado{
    font-weight: 500;
    font-size: 0.85em !important;
    padding: 4% 5.75%;
    display: inline-block;
}


.estado.activo{
    background-color: #007E33 !important;
    color: white;
    border: 1px solid #007E33 !important;
}

.estado.inactivo{
    font-weight: 700;
    background-color: #CC0000 !important;
    color: white;
    border: 1px solid #CC0000 !important;
}