.tabla-usuarios thead {
    background-color: #274C9C;
    color: #ffffff;
}

.tabla-usuarios thead th {
    background-color: #274C9C;
    color: #ffffff;
    border: none;
}

.tabla-usuarios {
    width: 100%;
    background-color: var(white);
    border-radius: 15px;
    overflow: hidden;
}

.estado {
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
}

.estado.activo {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.estado.inactivo {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
