<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /IKER/API/

    # Redirigir TODO a public/
    RewriteCond %{REQUEST_URI} !^/IKER/API/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
